
<button (click)="afiseazaValoareaLaHeader()">Afiseaza valoarea din parinte</button>
<main>
<input type="text" [(ngModel)]="todoName" placeholder="Todo list name">
<button (click)="addItem()">Adauga</button>
<button (click)="clear()">Reseteaza</button>
<ul *ngIf="myList.length" style="border: 1px solid #000;">
  <app-item *ngFor="let item of myList;let i = index" (deleteItem)="deleteItem(i);">
    {{item}}
  </app-item>
</ul>
<div>Data</div>
<div [ngSwitch]="case">
  <div *ngSwitchCase="'data'">
    <div emphasized [hasBorder]="isBorder">
      {{getBackendDate() | localDate : dateEnum.ZERO }}
    </div>

  </div>
  <div *ngSwitchCase="'upper'">{{'Testare' | uppercase}}</div>
  <div *ngSwitchCase="'upper'">{{'Testare' | lowercase}}</div>
  <div *ngSwitchDefault>{{500 | currency: 'GBP' : 'code'}}</div>
</div>
<button (click)="isBorder = !isBorder">Toggle</button>
<div *ngIf="!myList.length" style="color: red; font-weight: bold;"> Nu exista itemi la moment!</div>
</main>
